<a><span class="glyphicon glyphicon-th-list" href="#/videos/alphabetical" ng-click="show_playlist=show_playlist+1"> Playlist</span></a>
<div ng-show="show_playlist % 2 == 0">
	<audio controls type="audio/mp3" style="width:100%" ng-src="{{music_url}}" music-player></audio>
	<div ng-show="playlist_empty"></div>
	<ul class="list-group">
		<li  class="list-group-item" ng-repeat="item in playlist track by $index">
	  		<a href="#/videos/{{item.hash}}"><span class="glyphicon glyphicon-play"></span> {{item.filename}}</a> <a href ng-click="play(item.hash)">Play</a> <a ng-click="remove(item.hash)" href>Remove</a> 
	  	</li>
	</ul>
	</div>
</div>