<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">AMS</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
      	<li>
			<div class="input-group">
			  <input type="text" class="form-control" ng-model="search.query">
			</div>
		</li>
		<li>
			<a ng-click="predicate = '-timestamp'; reverse=false; column = 'added'"><span class="glyphicon glyphicon-calendar"></span></a>
		</li>
		<li>
			<a><span class="glyphicon glyphicon-search"></span></a>
		</li>
		<li>
			<a><span class="glyphicon glyphicon-font" href="#/videos/alphabetical"></span></a>
		</li>
		<li>
			<a href="#/directories"><span class="glyphicon glyphicon-folder-open"></span></a>
		</li>
		<li><a>{{total_count}}</a></li>
		<li><a>{{location.host}}</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<ng-include src="templatePath"></ng-include>

<div class="library_list">
	<div class="container">
		<p>Sorted by {{column}}</p>
		<div ng-if="loading">Loading..</div>
		<ul class="list-group" ng-repeat="(library_key, library) in libraries">
			<li class="list-group-item" ng-repeat="(item_key, item) in library.library | filter:search.query | limitTo:200 | orderBy:predicate">
				<a href="#/videos/{{item.hash}}" ng-click="loading=true">
					<div ng-show="loading">Loading..</div>
					<h4 class="list-group-item-heading">{{item.filename}}</h4>
					<p class="list-group-item-text">{{item.path}}</p>
					<br/>
					<a type="button" class="btn btn-primary btn-sm">
  						<span class="glyphicon glyphicon-download-alt"></span> Download
					</a>
					<a href="#/videos/{{item.hash}}" type="button" class="btn btn-primary btn-sm">
  						<span class="glyphicon glyphicon-eye-open"></span> View
					</a>
					<a class="btn btn btn-primary btn-sm" ng-click="add_to_playlist(item)">Add to Playlist</a>
				</a>
			</li>
		</ul>
	</div>
</div>
<!--
{% for library in libraries.iteritems() %}
	<ul id="library">
	{% for item in library.1.library %}
	    <li><a href="{{ item.path }}">{{ item.path }}</a></li>
	{% endfor %}
	</ul>
{% endfor %}-->