<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en" ng-app="app">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
	<title>MediaServer</title>
    {% endblock %}
	
	
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="http://netdna.bootstrapcdn.com/bootswatch/3.0.2/united/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="static/css/app.css" rel="stylesheet" media="screen">
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
	
	<script src="/static/js/extras/angular-route.js"></script>
	<script src="/static/js/app.js"></script>
	<script src="/static/js/controllers.js"></script>
</head>
<body>
    <div id="content">
		{% block content %}{% endblock %}
	</div>
    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>
</body>